* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

// Kleuren
$primary: #0366fb;
$secondary: #323032;
$territory: #fcfcfc;

//PMO kleuren
$marijn: $primary;
$baby: #00c7ff;
$indigo: #6d12f3;
$orchidee: #b17dff;
$aardbei: #ff535a;
$saffraan: #fdb813;
$jade: #15d383;
$zwart: #000000;


body {
    font-family: 'Vary', Sans-Serif;
    background-color: $territory;
    letter-spacing: 0.5px;

    h1 {
        color: $primary;
    }
}

.inspringing {
    text-indent: 1em;
}

