* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

// Kleuren
$primary: #0366fb;
$secondary: #323032;
$territory: #fcfcfc;

//PMO kleuren
$marijn: $primary;
$baby: #00c7ff;
$indigo: #6d12f3;
$orchidee: #b17dff;
$aardbei: #ff535a;
$saffraan: #fdb813;
$jade: #15d383;
$zwart: #000000;


body {
    font-family: 'Vary', Sans-Serif;
    background-color: $territory;
    letter-spacing: 0.5px;

    h1 {
        color: $primary;
    }
}

.inspringing {
    text-indent: 1em;
}

// Buttons
.btn-primary {
    background-color: $primary;
    color: $territory;
    padding: 10px 15px;
    border-radius: 25px;
    border: none;
    font-family: 'vary', sans-serif;
}
.btn-card {
    height: 2rem;
    width: 5rem;
    border-radius: 25px;
    background-color: $primary;
    border: none;
    color: $territory;
    margin: 1rem;
}
.btn-sec {
    height: 2rem;
    width: 5rem;
    border-radius: 25px;
    background-color: $territory;
    border: 1px solid $primary;
    color: $primary;
    margin: 0.5rem;

    &:hover {
        background-color: $primary;
        color: $territory;
        cursor: pointer;
    }
}

// Afbeeldingen
.img-logo {
    height: 100%;
    width: 100px;
}
.img-logoNav {
    height: 100%;
    width: 30px;
}
.Yappa {
    height: 100%;
    width: 15px;
}