@use 'base' as *;

@mixin brandbookFlex() {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    color: $territory;
    border-radius: 15px;
    margin-right: 1rem;
    width: 6rem;
    height: 11rem;
}

@mixin test {
    margin: 0.5rem 0 1rem 0;
    display: flex;
}